<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Goodwin Room Selection</title>
</head>
<style>
  .userinfo {
    top: 5%;
    right: 5%;
    position: absolute;
    text-align: center;
  }
</style>
<script>
  var select = false;
  var prev;

  //when page is first loaded with fetch all occupied rooms and change the color to red
  function load(occupied){
    for(var i = 0; i < occupied.length; i++){
      document.getElementById(occupied[i]).style.fill = "red";
    }
  }
//when search button is clicked will make current div hidden and change chosen div to inline
  function search() {
    var hidden = ["First Floor", "Second Floor", "Third Floor", "Fourth Floor"];
    var e = document.getElementById("floor");
    var value = e.value;
    var floorNum = e.options[e.selectedIndex].text;

    for (var i = 0; i < hidden.length; i++) {
      document.getElementById(hidden[i]).style.display = "none";
    }
    document.getElementById(floorNum).style.display = "inline";
  }

//when a bed is selected the color will change from green to blue, and room/bed number will be displayed
//if the chosen bed is selected will return and nothing changes
  function selected(num) {
    var roomNum = num.substring(0, num.length - 1);
    var bed = num[3];

    if(document.getElementById(num).style.fill == "red"){
      return;
    }
    if (select == true) {
      document.getElementById(prev).style.fill = "limegreen";
      document.getElementById(num).style.fill = "blue";
      document.getElementById("room").innerHTML = roomNum;
      document.getElementById("bed").innerHTML = bed;
    }
    else {
      document.getElementById(num).style.fill = "blue";
      document.getElementById("room").innerHTML = roomNum;
      document.getElementById("bed").innerHTML = bed;
    }
    prev = num;
    select = true;

  }

</script>

<body style="margin:0;" onload="load({{occupiedrooms}})">

  <div class="userinfo">
    <h3>First name, Last name</h3>
    <h2>N NUMBER</h2>
    <label for="floor">Choose a floor</label><br>
    <select name="floor" id="floor">
      <option value="1" selected>First Floor</option>
      <option value="2">Second Floor</option>
      <option value="3">Third Floor</option>
      <option value="4">Fourth Floor</option>
    </select>
    <input type="submit" value="Search" id="search" onclick="search()">

    <hr>
    <h3>Current Selection</h3>
    <div style="display: flex;">
      <p id="room">room number</p>
      <p></p>
      <p id="bed"> bed number</p>
    </div>
    <form action="../reviewpage/" method="post">
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="First Floor" id="First Floor">
    <svg height="700" width="1500">
      <!--Mako building outline-->
      <polygon points="20,430 165,265 135,235 265,100 300,133 320,115 345,115 345,60 500,60 500,30 720,30 720,60 870,60 870,110
        900,110 920,135
        950,100 1080,230 1055,260 1205,425 1175,460 1200,485 1060,625 1035,600 1000,635
        850,475 875,445 800,370 420,370 350,445 375,475 220,640
        190,610 160,640 20,495 50,465" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <!-- Room outlines and numbers-->


      <!--beds-->

    </svg>
  </div>

  <div class="Second Floor" id="Second Floor" style="display:none;">
     <svg height="700" width="1500">
      <!--Mako building outline-->
      <polygon points="20,430 165,265 135,235 265,100 300,133 320,115 345,115 345,60 500,60 500,30 720,30 720,60 870,60 870,110
        900,110 920,135
        950,100 1080,230 1055,260 1205,425 1175,460 1200,485 1060,625 1035,600 1000,635
        850,475 875,445 800,370 420,370 350,445 375,475 220,640
        190,610 160,640 20,495 50,465" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <!-- Room outlines and numbers-->


      <!--beds-->



    </svg>
  </div>

  <div class="Third Floor" id="Third Floor" style="display:none;">
     <svg height="700" width="1500">
      <!--Mako building outline-->
      <polygon points="20,430 165,265 135,235 265,100 300,133 320,115 345,115 345,60 500,60 500,30 720,30 720,60 870,60 870,110
        900,110 920,135
        950,100 1080,230 1055,260 1205,425 1175,460 1200,485 1060,625 1035,600 1000,635
        850,475 875,445 800,370 420,370 350,445 375,475 220,640
        190,610 160,640 20,495 50,465" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <!-- Room outlines and numbers-->


      <!--beds-->



    </svg>
  </div>

  <div class="Fourth Floor" id="Fourth Floor" style="display:none;">
     <svg height="700" width="1500">
      <!--Mako building outline-->
      <polygon points="20,430 165,265 135,235 265,100 300,133 320,115 345,115 345,60 500,60 500,30 720,30 720,60 870,60 870,110
        900,110 920,135
        950,100 1080,230 1055,260 1205,425 1175,460 1200,485 1060,625 1035,600 1000,635
        850,475 875,445 800,370 420,370 350,445 375,475 220,640
        190,610 160,640 20,495 50,465" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <!-- Room outlines and numbers-->


      <!--beds-->



    </svg>
  </div>

</body>


</html>